<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSRemindersFullAccessUsageDescription</key>
	<string>This app needs notification permission to remind you about catheter changes</string>
	<key>CFBundleDisplayName</key>
	<string>Cath Now</string>
	<key>NSAppleEventsUsageDescription</key>
	<string>his app needs notification permission to remind you about catheter changes.</string>
</dict>
</plist>
